<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <form action="/doctor/<%=doctor.id%>?_method=PUT" method="POST">
        <!--  NOTE: the form is pre-populated with values for the server-->
        Name: <input type="text" name="name" value="<%=doctor.name%>" /><br />
        Specialty: <input type="text" name="specialty" value="<%=doctor.specialty%>" /><br />
        Contact: <input type="text" name="contact" value="<%=doctor.contact%>" /><br />
        Img: <input type="text" name="img" value="<%=doctor.img%>" /><br />
        Is Add New Doctor:
        <input type="checkbox" name="addNewDoctor" <% if(doctor.addNewDoctor === true){ %> checked <% } %> />
        <br />
        <input type="submit" name="" value="Submit Changes" />
    </form>
</body>

</html>